.pocetna-slika{
    width: 100%;
}
.pocetna{
    margin: auto;
    text-align: center;
}
.predstava{
    margin: auto;
    padding: 20px;
    background-color: rgba(19, 0, 0, 0.5);
    box-shadow: 8px 9px 6px -6px rgb(41, 0, 0);
    color: rgb(255, 255, 255);
}

#edit-form .btn{
    background-color:rgba(255, 255, 255, 0.1);
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.9;
}
#edit-form .btn:hover{
    opacity: 1;
}

/* .prvi, .drugi{
    display: inline-block;
    padding: 20px;
} */
@media screen and (max-width: 371px) {
    .pocetna-slika{
        margin-top: 40px;
    }
}
