.pocetna-slika{
    width: 100%;
}
.pocetna{
    margin: auto;
    text-align: center;
}
.predstava{
    margin: auto;
    padding: 20px;
    background-color: rgba(19, 0, 0, 0.5);
    box-shadow: 8px 9px 6px -6px rgb(41, 0, 0);
    color: rgb(255, 255, 255);
}

.prvi, .drugi{
    display: inline-block;
    padding: 20px;
}
