table {
    margin-top: 5%;
    border-collapse: collapse;
    width: 100%;
}

th, td {
    color: rgba(255, 255, 255, 0.8);
    /* padding: 8px; */
    text-align: left;
    border-bottom: 1px solid black;
}

.stranica{
    margin: auto;
    background-color: rgba(19, 0, 0, 0.5);
    box-shadow: 8px 9px 6px -6px rgb(41, 0, 0);
}

a{
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
}
@media screen and (min-width: 1200px) {
    .stranica{
        width:40%;
    }
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
background-color: rgba(19, 0, 0, 0.2);
color: rgba(255, 255, 255, 0.8);
}

.dalje{
    text-align: center;
    background-color: #b89393c7;
    padding: 3px 6px;
    color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    border: none;
}

.dalje:hover{
    background-color: #b89393;
    color: rgba(255, 255, 255, 0.8);
}

a:hover{
    color: rgba(255, 255, 255, 0.8);
}

@media screen and (max-width: 576px) {
    h1{
        margin-bottom: 0;
    }

    .container-sm , .mt-3, .stranica{
        margin-top: 0;
    }
}
