.predstava{
    margin: auto;
    width: 70%;
    padding: 20px;
    background-color: rgba(63, 0, 0, 0.7);
    box-shadow: 8px 9px 6px -6px rgb(41, 0, 0);
    color: rgba(255, 255, 255, 0.8);
    margin-top: 5%;
}

/* .predstava2{
    margin: auto;
    width: 80%;
    padding: 20px;
    color: rgba(255, 255, 255, 0.8);
} */

/* .slika, .text{
    display: inline-block;
} */

.text{
    padding: 20px;
}

.detaljnije{
    background-color: rgba(40, 0, 0, 0.85);
    padding: 10px;
    width: 50%;
    text-align: center;
    box-shadow: 8px 9px 6px -6px rgb(19, 0, 0);
}

.slika{
    width: 200px;
}

.opis{
    width: 700px;
}

.text .btn{
    background-color:rgba(255, 255, 255, 0.1);
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.9;
}
.text .btn:hover{
    opacity: 1;
}

.obrisi{
    background-color: rgba(40, 0, 0, 0.5);
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.9;
}
.obrisi:hover{
    opacity: 1;
}

@media screen and (min-width: 992px) {
    .div-slika{
        text-align: center;
    }
}

@media screen and (max-width: 850px) {
    .predstava{
        width: 100%;
        margin-bottom: 5%;
        padding: 10px;
    }
    .container{
        padding: 0px;
    }

}

@media screen and (max-width: 371px) {
    .page-header{
        margin-top: 40px;
    }
    .slika{
        width: 100%;
    }
    .detaljnije{
        width: 80%;
    }
}
